/* Reset */
*{
    margin: 0;
    padding: 0;
}

ul,
ol{
    list-style: none;
    padding: 0px;
}

a{
    text-decoration: none;
    color: black;
}

/* Index */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}




/*Header*/

header {
    height: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: rgb(231, 231, 231);
    color:  black;
}

.logo img {
    height: 70px;
    width: 85px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a{
    font-weight: 600;
}


/*Carrito*/

.cart {
    position: relative;
}

#cartIcon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.cart-content {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 999; 
}

.cont-cart-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.2px;
    border-style: solid;
    padding: 5px;
}

.cont-cart-content-titulos{
    text-align: center;
}

.cont-carrito{
    text-align: center;
    font-size: 14px;
}

.cont-carrito td{
    padding: 20px;
}

.cart-content.show {
    display: block;
    align-items: center;
}

.borrar-producto{
    width: 100px;
    height: 100px;
    background-color:   #05aaaf;
}

.btn-vaciar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    box-shadow: inset -1.5px -1.5px 3px 0 #111;
    background-color: rgb(5, 170, 175);
    margin-top: 50px;
}





/*Portada*/

.portada {
    position: relative;
    overflow: hidden;
    padding-left: 2px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.img-portada {
    width: 100%;
}

.indicadores {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.indicador {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.active {
    background-color: #ff0000; /* Cambiar al color deseado para el indicador activo */
}



/* Productos */
.productos {
    margin-bottom: 70px;
}

.titulo{
    padding-top: 50px;
    padding-bottom: 35px;
    text-align: center;
    font-size: 2.5rem;
}

.container-cards {
    display: grid;
    grid-template-columns: repeat(3, 0.25fr);
    grid-gap: 50px;
    align-items: center;
    justify-content: center;
}

.card {
    width: 250px;
    height: 350px;
    border: 1.5px;
    border-style: solid;
    box-shadow: 0.2rem 0.2rem 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(231, 231, 231);
}

.imgs-productos{
    width: 100%;
    height: 150px;
}

.imgs-productos-notebooks{
    width: 100%;
    height: 150px;
}

.info-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.cont-btn-agregar-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    width: 150px;
    height: 45px;
    border-radius: 7px;
    box-shadow: inset -1.5px -1.5px 3px 0 #111;
    background-color: rgb(5, 170, 175);
    margin-bottom: 10px;
}


/* Footer */
footer {
    background-color:   black;
    text-align: center;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cont-nav{
    flex-direction: column;
    gap: 30px;
}

.cont-nav a{
    color: white;
}

.cont-empresa-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cont-empresa-info li {
    color: white;
}

.cont-metodos-pago{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cont-metodos-pago{
    color: white;
}